<!-- Toggling -->
<script type="text/javascript">
    $(document).ready(function(){
        $('a#feeds-toggle').click(function(){
            $('#feed_drag_tag').slideToggle(400);
            return false;
        });
    });
</script>

<a href="#" id="feeds-toggle">Show Feeds</a>
<div id="feed_drag_tag" style="display:none">
<% if @feeds.size == 0 %>
<p>No feeds to display.</p>
<% else %>
<p>Drag and drop feeds to add to lists.</p>
<table>
<% count = 0 %>
<% for feed in @feeds %>
<script type="text/javascript">
    $(function(){
		$("#draggable_feed_<%= feed.id %>").draggable({ opacity: 0.75, appendTo: 'body', helper: 'clone'});
    });
</script>
<% if count%2 == 0 %><tr><% end %>
<td><div class="list_container move_container" id="draggable_feed_<%= feed.id %>"><%=h feed.title %></div></td>
<% if count%2 == 1 %></tr><% end %>
<% count+=1 %>
<% end %>
<% if count%2 == 0 %></tr><% end %>
</table>
<% end %>
</div>