<%= javascript_include_tag 'feeds_editor' %>

<script type="text/javascript">
    $(function(){
        $("#list_pane").corner();
		$("#middle_pane").corner();
        $("#feed_pane").corner();
    });
</script>

<div class='pane_container' id='list_pane'>
    <%= render :partial=>'lists_pane' %>
</div>
<div class='pane_container' id='middle_pane'>
    <%= render :partial=>'middle_pane' %>
</div>
<div class='pane_container' id='feed_pane'>
    <%= render :partial=>'/feeds/feeds_pane' %>
</div>
