<%= javascript_include_tag 'feeds_editor' %>

<script type="text/javascript">
    $(function(){
		$("#middle_pane").corner();
    });
</script>
<div id="lists_content" class='ajaxWrapper'>
    <div class='pane_container' id='list_pane'>
        <%= render :partial=>'lists_pane' %>
    </div>
    <div class='pane_container' id='middle_pane' style="border: 1px solid #999;">
        <%= render :partial=>'middle_pane' %>
    </div>
    <div class='pane_container' id='feed_pane'>
        <%= render :partial=>'/feeds/feeds_pane' %>
    </div>
</div>