$("#list_pane").html("<%= escape_javascript(render :partial => 'lists_pane') %>");
$("#list_replace").html("<div class='list_middle_container'><%= escape_javascript(flash[:notice]) %></div>");
ajaxLinks();