$("#feed_pane").html("<%= escape_javascript(render :partial => "feeds_pane") %>");
$("#middle_pane").html("<div class='list_middle_container'><%= escape_javascript(flash[:notice]) %></div>");
ajaxLinks();