/*
 * Layout
 ***************************/

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

div#container { position: relative; width: 950px; height: 700px; margin: 0 auto; }
div#header { position:absolute; left:0px; top:0px; width:950px; height:100px; padding: 10px; background:#99c;}
div#content { position:absolute; left:0px; top:120px; width:950px; }

div#rss_entries_content { position:absolute; left:15px; width:735px; padding-bottom:50px; margin-top:5px; }
div#right_sidebar { position:absolute; left: 760px; width:200px; }

div#clusters_content { position:absolute; left:15px; width:735px; padding-bottom:50px; margin-top:5px; }

div#lists_content { position:absolute; left:0px; width:735px; padding-bottom:50px; }
div#list_pane { position:absolute; left:0px; width:200px; }
div#middle_pane { position:absolute; left:210px; width:535px; }
div#feed_pane { position:absolute; left:760px; width:200px; }

div#footer { clear: both; text-align: center; font-size: 11px; color: #777; padding-top: 40px; padding-bottom: 40px; }
div#footer p { margin: 0; padding: 0; }

div.pane_container {
	margin: 5px;
	padding: 0px;
	background: #ccc;
	overflow: hidden;
	font-size: 1.0em;
	clear: both;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*
 * Forms
 ***************************/
div.right_bar_title { font-weight:bold; margin-bottom:2px; color:#fff; background:#003; padding:6px; }
div.right_bar_img {  align: right; }
div.right_bar_data { background:#ccc; padding:10px; }


/*
 * Table
 ***************************/
.table_row_even { background-color: #CCF; padding-left:5; padding-right:5; }/*margin-top:6; }*/
.table_row_odd { background-color: #DDF; padding-left:5; padding-right:5; }/*margin-top:6; }*/
div.table_description_even { background-color: #CCF; padding-left:50px; padding-bottom: 5px; padding-right: 5px; }
div.table_description_odd { background-color: #DDF; padding-left:50px; padding-bottom: 5px; padding-right: 5px; }

#report { border-collapse:collapse;}
#report h4 { margin:0px; padding:0px;}
#report img { float:right;}
#report ul { margin:10px 0 10px 40px; padding:0px;}
#report th { background:#003 ; color:#fff; padding:7px 15px; text-align:left;}
#testerxxx td { background:#7CB8E2 none repeat-x scroll center left; color:#000; padding:7px 15px; }
#report td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }
#report div.arrow { background:transparent url(../images/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
#report div.up { background-position:0px 0px;}

.star_link {
	background: url(../images/star.png) no-repeat;
	height: 25px;
	width: 25px;
	text-decoration: none;
}

.star_link:hover {
	background: url(../images/star_gray.png) no-repeat;
}

.star_link_gray {
	background: url(../images/star_gray.png) no-repeat;
	height: 25px;
	width: 25px;
	text-decoration: none;
}

.star_link_gray:hover {
	background: url(../images/star.png) no-repeat;
}

/*
 * Feed Pane
 ***************************/
h4.trigger {
	padding: 0 0 0 28px;
	margin: 0 0 5px 0;
	background: url(../images/h2_trigger_a_small.gif) no-repeat;
	height: 25px;
	line-height: 25px;
	width: 170px;
	font-size: 1em;
	font-weight: normal;
	float: left;
}
h4.trigger a {
	color: #eee;
	text-decoration: none;
	display: block;
}
h4.trigger a:hover { color: #ccc; background:none; }

h4.active {background-position: left bottom;} /*--When toggle is triggered, it will shift the image to the bottom to show its "opened" state--*/
.toggle_container {
	margin: 0 0 5px;
	padding: 2px;
	border: 1px solid #999;
	background: #ddd;
	overflow: hidden;
	font-size: 1.2em;
	width: 172px;
	clear: both;
}
.toggle_container #block {
	padding: 3px; /*--Padding of Container--*/
}


/*
 * List Pane
 ***************************/
.list_container {
	margin: 4px;
	padding: 2px;
	border: 1px solid #999;
	background: #ddd;
	overflow: hidden;
	font-size: 1.2em;
	width: 168px;
	clear: both;
}

.move_container {
	cursor: move;
}

.open_container {
	cursor: hand;
}

.list_edit_container {
	text-align: center; 
	margin: 10px;
	padding: 0px;
	border: 1px solid #999;
	background: #ddd;
	overflow: hidden;
	font-size: 1.2em;
	width: 515px;
	clear: both;
}

.feed_edit_container {
	text-align: center; 
	margin: 10px;
	padding: 0px;
	border: 1px solid #999;
	background: #ddd;
	overflow: hidden;
	font-size: 1.2em;
	width: 515px;
	clear: both;
}

.list_middle_container {
	text-align: center; 
	margin: 10px;
	padding-left:20px;
	padding-right:20px;
	border: 1px solid #999;
	background: #ddd;
	overflow: hidden;
	font-size: 1.2em;
	width: 475px;
	clear: both;
}

.news_container {
	margin-top: 5px;
	border: 1px solid #999;
	background: #ddd;
	overflow: hidden;
	clear: both;
}
