<%= javascript_include_tag 'application' %>

<!-- Buttons -->
<script type="text/javascript">
    $(function(){
        $("a", ".button_style").button();
    });
</script>

<!-- Datepicker -->
<script type="text/javascript">
    $(function(){
        $(".datepicker").datepicker({
            showOn: 'button',
            buttonImage: '/images/calendar.png',
            buttonImageOnly: true,
            showAnim: 'blind'
        });
    });
</script>

<!-- Widget cornering -->
<script type="text/javascript">
    $(function(){
        $("#right_bar_1").corner();
        $("#right_bar_2").corner();
        $("#right_bar_3").corner();
		$(".right_bar_title").corner("top");
		$(".right_bar_data").corner("bottom");
		$(".toggle_container").corner("bottom");
    });
</script>

<!-- Toggling -->
<script type="text/javascript">
    $(document).ready(function(){
        $('a#advanced_search-toggle').click(function(){
            $('#advanced_search_tag').slideToggle(400);
            return false;
        });
        $('a#feed_search-toggle').click(function(){
            $('#feed_search_tag').slideToggle(400);
            return false;
        });
        $('a#more_views-toggle').click(function(){
            $('#more_views_tag').slideToggle(400);
            return false;
        });
        $('a#new_feed-toggle').click(function(){
            $('#new_feed_tag').slideToggle(400);
            return false;
        });
        $('a#edit_feeds-toggle').click(function(){
            $('#edit_feeds_tag').slideToggle(400);
            return false;
        });
    });
</script>

<script>
$(document).ready(function(){
	//Hide (Collapse) the toggle containers on load
	$(".toggle_container").hide(); 

	//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
	$("h4.trigger").click(function(){
		$(this).toggleClass("active").next().slideToggle("slow");
	});
});
</script>

<!-- Sortables -->
<meta charset="UTF-8" />
<style type="text/css">
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable div { }
</style>
<script type="text/javascript">
$(function() {
	$("#right_bar").sortable({ axis: 'y', forcePlaceholderSize: true, opacity: 0.8, handle: 'span#move_icon' });
	$("#right_bar").disableSelection();
});
</script>
	
<!-- Right bar partials -->
<div id="right_bar">
    <div id="right_bar_1" style="width:200px; margin:5px; padding:0px; background:#cccccc;">
        <%= render :partial => '/rss_entries/right_bar_1' %>
    </div>
    <div id="right_bar_2" style="width:200px; margin:5px; padding:0px; background:#cccccc;">
        <%= render :partial => '/rss_entries/right_bar_2' %>
    </div>
    <div id="right_bar_3" style="width:200px; margin:5px; padding:0px; background:#cccccc;">
        <%= render :partial => '/rss_entries/right_bar_3' %>
    </div>
</div>