<%= image_tag 'loading.gif', :id=>'spinner',
      :style=>"float:right;" %>
      <div id="container">
          <div id="content">
          	  <h1>Listing rss_entries</h1>
              <!-- START:ajaxWrapper -->
              <div class='ajaxWrapper'>
                  <%= render :partial=>'search' %>
              </div>
              <!-- END:ajaxWrapper -->
			  <%= render :partial => 'footer' %>
          </div>
		  <div id="right_sidebar">
		  	<%= render :partial => 'right_bar' %>
		  </div>
      </div>